/* src/app.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@300;400;500&display=swap');

/* ── Base ── */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: #111;
  background: #fff;
    /* smooth scroll */
  scroll-behavior: smooth;

  /* better font rendering */
  -webkit-font-smoothing: antialiased;

}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}
